/**
  The main file of the stylesheet
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

@import "variables.less";
@import "mixins.less";

body {
  background: @body-background;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;

  @media (min-height : @screen-min-height-navbar) {
    padding-top: @navbar-height;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 1.9em;
  margin: 0.5em 0.2em 0.5em 0.2em;
}

h2 {
  font-size: 1.5em;
  margin: 0.5em 0.8em 0.5em 0.8em;
}

h3 {
  font-size: 1.1em;
  margin: 0.5em 1.8em 0.5em 1.8em;
}


#navbar {
  display:block;

  @media (min-height : @screen-min-height-navbar) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

#navbar-content {
  display:flex;
  flex-direction: row;
  justify-content: left;
  box-sizing: border-box;
  height: @navbar-height;
  background: @navbar-background;
  border-bottom: solid @navbar-border-height darken(@navbar-background, 25%);
  color: @navbar-color;

  @height: @navbar-height - @navbar-border-height;
  .size-content();


  a, a:hover, a:active, a:link, a:visited {
    color: @navbar-color;
    font-weight: 300;
    font-size: 1.1em;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    flex: 1;
    display:flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: @height;

    li {
      height: @height;
      width: @nav-item-width;
      text-align: center;
      position:relative;

      a {
        .center-inline(100%, 1em);
      }
    }
  }

  #fork-me {
    width: 200px;
    height: @height;
    text-align: center;
    position: relative;

    a {
      .center-inline(100%, 1em);
    }
  }
}

#content {
  display: block;
  background: @content-background;
  padding: 0.7em;

  .size-content();
}

.alert {
  margin: 50px;
  padding: 20px;
  border: solid 1px black;
}

.error {
  background: @error-background;
  color: @error-color;
}

.warning {
  background: @warning-background;
  color: @warning-color;
}