/**
 * Variables used to customize the website appearance
 */


@body-background: #888888;
@content-background: #eeeeee;
@navbar-background: #3399FF;
@navbar-color: white;

@screen-small: 768px;
@screen-medium: 992px;
@screen-large: 1200px;

@screen-min-height-navbar: 500px;

@navbar-height: 60px;
@navbar-border-height: 2px;
@nav-item-width: 200px;
@navbar-collapsed-treshold: 4 * @nav-item-width;

@content-small: 750px;
@content-medium: 980px;
@content-large: 1180px;