extends ./layout
block vars
    - var title = _('title.index');
block content
    section
        h1= _('index.desiredJob')
        div.alert.info= _("message.hiringStatus")
        p
            a(href=_("contact.url"))= _("contact.label")