extends ./layout
block vars
    - var title = _('title.index');
block content
    section
        h1= dm.getDataAboutMe().desiredJob[locale]
        div.alert.info= dm.getDataAboutMe().hiringStatus[locale]
        p
            a(href=dm.getDataAboutMe().contactUrl[locale])= _("menu.contact")