doctype html
html
    head
        block vars
        title #{title} - Jérémy VIGNELLES
        block styles
            link(rel="stylesheet",media="screen",href="/stylesheet/style.css")
        block scripts
    body
        section#content
            h1 #{title}
            block content