doctype html
html(lang=lang)
    include ./mixins.jade
    head
        block vars
        title #{title} - Jérémy VIGNELLES
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        +alternativeLanguages
        block styles
            link(rel="stylesheet",media="screen",href="/stylesheet/style.css")
        block scripts
    body
        nav#navbar
            div#navbar-content
                ul
                    li: a(href="/") Home page
                    li: a(href="/en") English version
                div#fork-me
                    a(href="https://github.com/jeremyVignelles/jeremyVignelles") Fork me
        section#content
            h1 #{title}
            block content