@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);
/**
  The main file of the stylesheet
*/
/**
 * Variables used to customize the website appearance
 */
/**
 * Sizes a content block, depending on the screen width
 */
/**
 * Centers an inline element into a block.
 * This requires that the parent of this block has a position: attribute set to anything other than "static" (e.g. : position: relative;)
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #888888;
  font-family: 'Open Sans', sans-serif;
}
@media (min-height: 500px) and (min-width: 768px) {
  body {
    padding-top: 60px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 1.9em;
  margin: 0.5em 0.2em 0.5em 0.2em;
}
h2 {
  font-size: 1.5em;
  margin: 0.5em 0.8em 0.5em 0.8em;
}
h3 {
  font-size: 1.1em;
  margin: 0.5em 1.8em 0.5em 1.8em;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
#navbar {
  display: block;
}
@media (min-height: 500px) and (min-width: 768px) {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
#navbar-content {
  height: 60px;
  background: #3399ff;
  border-bottom: solid 2px #0059b3;
  color: white;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  #navbar-content {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  #navbar-content {
    width: 980px;
  }
}
@media screen and (min-width: 1200px) {
  #navbar-content {
    width: 1180px;
  }
}
#navbar-inner-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 58px;
  /* This style is applied only when the navbar is not collapsed*/
}
#navbar-inner-content a,
#navbar-inner-content a:hover,
#navbar-inner-content a:active,
#navbar-inner-content a:link,
#navbar-inner-content a:visited {
  color: white;
  font-weight: 300;
  font-size: 1.1em;
}
#navbar-inner-content a:link {
  text-decoration: none;
}
#navbar-inner-content a:hover {
  text-decoration: underline;
}
#navbar-inner-content ul {
  list-style-type: none;
}
@media (min-width: 768px) {
  #navbar-inner-content ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 58px;
  }
  #navbar-inner-content ul li {
    height: 58px;
    width: 200px;
    text-align: center;
    position: relative;
  }
  #navbar-inner-content ul li a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1em;
    margin: auto;
    display: block;
  }
  #navbar-inner-content #fork-me {
    width: 200px;
    height: 58px;
    text-align: center;
    position: relative;
  }
  #navbar-inner-content #fork-me a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1em;
    margin: auto;
    display: block;
  }
}
/* Selectors that makes the navbar collapsible : */
#collapse-button,
#collapse-button-checkbox {
  display: none;
}
@media (max-width: 768px) {
  #collapse-button {
    display: block;
    width: 100%;
    height: 58px;
    position: relative;
  }
  #collapse-button label {
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1em;
    margin: auto;
    display: block;
  }
  #collapse-button-checkbox {
    z-index: 100;
    display: block;
    opacity: 0;
    width: 100%;
    height: 58px;
    position: absolute;
    top: 0;
    left: 0;
  }
  #navbar-content {
    height: auto;
  }
  #navbar-inner-content {
    display: none;
    height: auto;
  }
  #navbar-inner-content li {
    margin: 1em;
  }
  #navbar-inner-content #fork-me {
    margin: 1em;
  }
  #collapse-button.opened {
    background: #0059b3;
  }
  #navbar-inner-content.opened {
    display: block;
  }
}
#content {
  display: block;
  background: #eeeeee;
  padding: 0.7em;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  #content {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  #content {
    width: 980px;
  }
}
@media screen and (min-width: 1200px) {
  #content {
    width: 1180px;
  }
}
.alert {
  margin: 50px;
  padding: 20px;
  border: solid 1px black;
}
.error {
  background: #880000;
  color: white;
}
.warning {
  background: darkorange;
  color: white;
}
